// Feedback Modal

#feedbackModal.modal.fade(tabindex='-1', aria-labelledby='feedbackModalLabel', aria-hidden='true')
    div(
  style="all: unset;" 
  data-tf-medium="snippet" 
  data-tf-button-text="Contact us " 
  data-tf-button-color="#0445AF" 
  data-tf-transitive-search-params="" 
  data-tf-iframe-props="title=ittp_technoprenurship_contact_us" 
  data-tf-opacity="100" 
  data-tf-sidetab="H0AoiW9q"
  )
script(src="//embed.typeform.com/next/embed.js")
